@model Application.Dto.Items.FullItemDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Item</h4>
    <hr />
    <div class="col-sm-4 no-gutters">
        <img src="~/images/noimg.jpg" alt="noimg" class="img-fluid p-2 float-left"  width="400px"/>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isCovert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isCovert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQuality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemQuality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
